<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.testng.reporters.XMLReporter"/>
    </listeners>
    <parameter name="browser" value="chrome"/>
    <test verbose="2" preserve-order="true" name="D:/FlipkartProject">
        <classes>
            <class name="LoginToFlipkartAndPlaceOrder"/>
        </classes>
    </test>
</suite>